/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 @media (min-width: 600px) {
    .block-editor-url-input input[type=text] {
        width: 100%;
        border-radius: 2px;
        border: 1px solid #757575;
     }
 }